.home-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}
.t_shirts_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
}